.calendar-container {
    /* max-width: 900px; */
    margin: 0 auto;
  }
  
  .calendar-header {
    text-align: center;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
  }
  
  .calendar-day {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .calendar-day:hover {
    background-color: #e2e6ea;
  }
  
  .calendar-day.empty {
    background-color: transparent;
    border: none;
  }
  